.main_cont{
    background-image: url(../public/1.jpg);
    height: 600px;
    width: 450px;
    border-radius: 12px;
    margin: auto;
    margin-top: 75px;
    box-shadow: 10px 10px 20px rgb(53, 53, 54);
}         